body {
  background: #a1c4e9 ;
}
#login {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  background: white;
  width: 500px;
  height: 500px;
  border-radius: 6px;
  margin: 0 auto 0 auto;
  padding: 20px 10px 10px 10px;
  border: gainsboro 1px solid;
}

h2 {
  font-size: 1.5em;
  text-align: center;
}
