.submitButton {
  width: 10%;
  font-size: 20px;
  padding: 10px;
}

.userInputBox {
  width: 80%;
  background: whitesmoke;
}

.userInputDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
